<h2>Buyer Browser</h2>

<div id = "search-bar">
	<%= simple_form_for buyers_path, :method => :get do |f| %>
	  <%= f.input :search, label: false, required: false, placeholder: 'ex. Byrd', class: 'pull-right' %>
	  <%= f.button :submit, "Search" %>
	<% end %>
</div>
<br>
<br>
<br>
<%= link_to "Add New", new_buyer_path, class: 'btn btn-primary' %>
<br>
<br>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>State</th>
    <th></th>
    <th></th>
  </tr>
 
	<% @buyers.each do |buyer| %>
	  <tr>
	    <td><%= buyer.first_name %></td>
	    <td><%= buyer.last_name %></td>
	    <td><%= buyer.state %></td>
	    <td><%= link_to "Show", buyer, class: 'btn btn-primary btn-sm' %></td>
	    <td><%= link_to "Update", edit_buyer_path(buyer), class: 'btn btn-primary btn-sm' %></td>
	    <td><%= link_to "Cancel", buyer, method: :delete, class: 'btn btn-primary btn-sm', 
	    				data: { confirm: "Are you sure?" } %></td>
	  </tr>
	<% end %>
</table>